<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hj.sbootmybatis.mapper.TeacherMapper">
 
  <select id="getByIdXml" parameterType="java.lang.Long" resultType="java.util.Map">
    select * from t_tearcher where t_id=#{id}
  </select>
 
</mapper>